%a {
    // http://tympanus.net/Development/CreativeLinkEffects/
    text: {
        decoration: none;
    }
    color: $primary;

    &:before {

    }

    &:hover {

    }
}

a {
    @extend %a !optional;
}

%reset-a {

}

%more-next {

}

.more,
.next {
    @extend %more-next !optional;
}

%back-prev {

}

.back,
.prev {
    @extend %back-prev !optional;
}

%p {
    margin: {
        top: space(m);
        bottom: space(m);
    }
}

p {
    @extend %p !optional;
}

%reset-p {
    margin: {
        top: 0;
        bottom: 0;
    }
}

%h {
    font: {
        family: $secondary-font-family;
    }
    color: $primary;
}

h1, h2, h3, h4, h5, h6 {
    @extend %h !optional;
}

%h1 {
    line: {
        height: 1.2;
    }
}

h1 {
    @extend %h1 !optional;
}

%h2 {

}

h2 {
    @extend %h2 !optional;
}

%h3 {

}

h3 {
    @extend %h3 !optional;
}

%h4 {

}

h4 {
    @extend %h4 !optional;
}

%h5 {

}

h5 {
    @extend %h5 !optional;
}

%h6 {

}

h6 {
    @extend %h6 !optional;
}

%blockquote {

}

blockquote,
quote {
    @extend %blockquote !optional;
}