// globals
$global-font-size: 16px;
$global-width: 1280px;

// z-indexes
$z-index:
    me,
    foot,
    button,
    loader;

// breakpoint
$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1100px,
    xxlarge: 1280px
) !default;

// grid
$grid-row-width: $global-width;

$grid-column-count: 12;
$grid-column-gutter: 16px;
$grid-column-responsive-gutter: (
  small: 32px,
  medium: 32px
);

// spaces
$spaces: (
    s: 8px,
    m: 16px,
    l: 32px
);

// fonts
$primary-font-family: "Open Sans", Arial, sans-serif;
$secondary-font-family: "Shadows into Light", "Times New Roman", sans-serif;

// colors
$primary: #fe6d3e;
$secondary: #38c8e0;
$text-color: #666666;

// misc
$transition: 0.32s ease-in-out;

// paths
$image-path: '../media/';
$iconfont: '../media/fonts/';